main {
    width: 98%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    min-height: 80dvh;
}

/* ---------------------------------------------------------- */
.main .aside {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.schedule-section,
.date-section {
    margin-bottom: 20px;
}

.time-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-selection label {
    margin-right: 10px;
}

.date-display {
    display: flex;
    align-items: center;
}

/* ----------------------------------------------------------------- */
.movie-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
}

.movie-poster {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.movie-info {
    display: flex;
    flex-direction: column;
}

.movie-info h2 {
    margin: 0;
    font-size: 24px;
}

.movie-info p {
    margin: 5px 0;
}

.movie-info button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}