main {
    width: 98%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    min-height: 80dvh;
}

/* ---------------------------------------------------------- */
.main .aside {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.schedule-section,
.date-section {
    margin-bottom: 20px;
}

.time-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-selection label {
    margin-right: 10px;
}

.date-display {
    display: flex;
    align-items: center;
}

/* ----------------------------------------------------------------- */
.main .principal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64%;
    border-radius: 10px;
    background: #2e5adf;
}